<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task|%>
    <li>
      <input type='checkbox'><%= link_to task.title, task_path(task) %>
      <%= link_to ('<i class="fa-solid fa-trash-can"></i>').html_safe, task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

<a href='tasks/new' class='btn btn-outline-primary'>New task</a>
